body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
  }
  @media (max-height: 500px) {
    #hero {
      height: 150vh;
    }
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }
  #hero .container {
    text-align: center;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  #hero p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }
  .section-header h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 120px);
  }
  .section-header h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #f1b81b;
    bottom: 0;
    left: calc(50% - 30px);
  }
  /* Portfolio Section
  --------------------------------*/
  #portfolio {
    padding: 60px 0;
  }
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  #portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #f1b81b;
    color: #fff;
  }
  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  #portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  #portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  #portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
  }
  #portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
  }
  #portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  #portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
  }
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
  }
  #portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
  }
  #portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
  }